<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

<div class="container">
	<div class="jumbotron bg-warning">
		<form action="/artists" method="POST">
			<div class="form group">
				<legend>Spotify Search</legend>
				<label for="artistName">Artist Name</label>
				<input type="text" class="form-control" name="artistName">
			</div>
			<legend></legend>
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="Submit">
			</div>
		</form>
	</div>
</div>

	<% include ../partials/footer %>
</body>
</html>